<h2> Olá {{ name }}! </h2>
<p>
  SICOB
  <br>
  Você recebeu uma tentativa de recuperação de senha, clique no link abaixo para criar uma nova senha:
  <br>
  <a href="{{link}}"> Alterar linha<a> 
</p>